/*
CSS BOX model

- A series of positioning properties designed to help with layout.
- Each property works in a different way, and positions the item with different spacing.
- Most commonly used way to position items. 
- Each layer represents a different part of the model.
- Each layer can be stretched and sized either symmetrically or asymmetrically.

Content > padding > border > margin

Content
    - 2 properties:
        - height
        - width

Padding 
    - represents the space between the content and the border.
    - give more room for the content.
    - this does not help the content to move.
    syntax (long version):
        padding-right: 40px;
        padding-top: 100px;
        padding-left: 20px;
        padding-bottom: 40px;
    
    syntax (shorthand version):
        padding: 100px 40px 0 5px;
        padding: top right bottom left;

    syntax (2 values version):
        padding: 80px 50px;
        padding: [top and bottom]  [left and right]

Border 
    - divider between the padding and margin.
    - adding internal space.
    - can be styled using a CSS property:  
        syntax: "border: 1px solid rgb(0, 0, 0);"
        parts: border: size style color;

Margin
    - adding external space.
    - The space between the border and all other content.
        syntax (long version):
            margin-right: 40px;
            margin-top: 100px;
            margin-left: 20px;
            margin-bottom: 40px;
            
        syntax (shorthand version):
            margin: 100px 40px 0 20px;
            margin: top right bottom left;

        syntax (2 values version):
            margin: 80px 50px;
            margin: [top and bottom] [left and right]

Float and display types.
Float - how the elements float in the page.
Display:
    - inline
    - block
*/

/* content resizing*/
#about-me-image{
    height: 300px;
    width: 50%;

    border: 6px solid rgb(21, 91, 196);
    margin: 50px 50px;

    float: inherit;

}

.site-table{
    display: inline-block;
}



